.FormuCheck {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  .Checkboxes-Container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    label {
      line-height: 170%;
      font-size: 16px;
      color: #333;
      .Check-User-Description {
        width: 100%;
        margin: {
          left: 20px;
          top: 20px;
          bottom: 20px;
        }
        textarea {
          width: 100%;
          outline: none;
          font-size: 16px;
        }
      }
      input {
        margin: {
          right: 15px;
        }
      }
      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        background-color: #72b239;
      }
      .TextCheck {
        padding: 8px;
        resize: none;
        border-radius: 8px;
        border: solid 2px rgb(144, 144, 144);
      }
    }
  }
  p:nth-child(2) {
    font-size: 16px;
    color: #333;
    margin: 10px 0 15px;
  }
  p:nth-child(4) {
    margin: 15px 0 20px;
    color: #939393;
    font-size: 16px;
  }
  .TextArea {
    resize: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border: solid 2px #3761b0;
    border-radius: 8px;
  }
  .MainButtons {
    display: flex;
    gap: 50px;
    justify-content: right;
    margin-bottom: 40px;
    .NextPage {
      color: #fff;
      width: 140px;
      height: 40px;
      background-color: #3761b0;
      border-radius: 4px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .BackPage {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #333;
      font-size: 16px;
      span {
        width: 20px;
        height: 20px;
        display: block;
        content: " ";
        background: {
          image: url("../../../../assets/icons/arrow-back.svg");
          position: center;
          repeat: no-repeat;
          size: cover;
        }
      }
    }
  }
}

@media all and (max-width: 630px) {
  .Check-User-Description {
    margin: {
      top: 10px !important;
      right: 0 !important;
      bottom: 10px !important;
      left: 10px !important;
    }
  }
}
