.Formulario3 {
  width: 60%;
  display: grid;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
}
.Formulario3 .Fotos-Paciente {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.Formulario3 .Fotos-Paciente .UploadButton {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #333;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.Formulario3 .Fotos-Paciente .UploadButton span {
  display: block;
  content: " ";
  width: 25px;
  height: 25px;
  margin-bottom: 2.5px;
  background-image: url("../../../../assets/icons/upload-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Formulario3 .Fotos-Paciente .UploadButton input[type=file] {
  position: absolute;
  opacity: 0;
}
.Formulario3 .Fotos-Paciente .UploadButton:active span {
  transform: translateY(5px);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.Formulario3 .Fotos-Paciente .UploadButton span {
  -webkit-animation: hu__hu__ infinite 2s ease-in-out;
          animation: hu__hu__ infinite 2s ease-in-out;
}
@-webkit-keyframes hu__hu__ {
  50% {
    transform: translateY(3px);
  }
}
@keyframes hu__hu__ {
  50% {
    transform: translateY(3px);
  }
}
.Formulario3 .Fotos-Paciente .SpanLine {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  border-radius: 20%;
}
.Formulario3 .Fotos-Paciente .Frontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Formulario3 .Fotos-Paciente .Frontal .Imagenes {
  display: flex;
  gap: 30px;
}
.Formulario3 .Fotos-Paciente .Frontal img {
  width: 320px;
  height: 390px;
  border: solid 1px #ddd;
}
.Formulario3 .Fotos-Paciente .Frontal p {
  text-align: center;
  font-size: 16px;
  color: #333;
  margin: 16px 0;
}
.Formulario3 .Fotos-Paciente .Perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Formulario3 .Fotos-Paciente .Perfil .Imagenes {
  display: flex;
  gap: 30px;
}
.Formulario3 .Fotos-Paciente .Perfil img {
  width: 320px;
  height: 390px;
}
.Formulario3 .Fotos-Paciente .Perfil p {
  text-align: center;
  font-size: 16px;
  color: #333;
  margin: 16px 0;
}
.Formulario3 .Fotos-Paciente .Perfil button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #333;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.Formulario3 .Fotos-Paciente .Perfil button span {
  display: block;
  content: " ";
  width: 25px;
  height: 25px;
  margin-bottom: 2.5px;
  background-image: url("../../../../assets/icons/upload-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Formulario3 .Fotos-Paciente .Base {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Formulario3 .Fotos-Paciente .Base .Imagenes {
  display: flex;
  gap: 30px;
}
.Formulario3 .Fotos-Paciente .Base img {
  width: 320px;
  height: 390px;
  border: solid 1px #ddd;
}
.Formulario3 .Fotos-Paciente .Base p {
  text-align: center;
  font-size: 16px;
  color: #333;
  margin: 16px 0;
}
.Formulario3 .Fotos-Paciente .Base button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #333;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.Formulario3 .Fotos-Paciente .Base button span {
  display: block;
  content: " ";
  width: 25px;
  height: 25px;
  margin-bottom: 2.5px;
  background-image: url("../../../../assets/icons/upload-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Formulario3 .Botones {
  display: flex;
  gap: 50px;
  justify-content: right;
}
.Formulario3 .Botones .EnviarDatos {
  color: #fff;
  width: 140px;
  height: 40px;
  background-color: #3761b0;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Formulario3 .Botones .AtrasBoton {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
  font-size: 16px;
}
.Formulario3 .Botones .AtrasBoton span {
  width: 20px;
  height: 20px;
  display: block;
  content: " ";
  background-image: url("../../../../assets/icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 630px) {
  .Formulario3 .Fotos-Paciente .Imagenes img {
    width: 240px !important;
    height: 280px !important;
  }
}/*# sourceMappingURL=Formulario3.css.map */